@model GestaoDeFrotas.Front.ViewModels.PainelMotoristasVM

@{
    ViewBag.Title = "PainelDeMotoristas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using X.PagedList;
@using X.PagedList.Mvc;

<div class="container-fluid container-titulo">
    <h2 class="titulo-pag">Painel De Motoristas</h2>
</div>

@using (Html.BeginForm("BuscarMotoristasPainel", "Motorista", FormMethod.Get))
{
    <div class="container-fluid container-menu">
        <div class="row row-menu">
            <div class="campos-painel campos-painel-md">
                <l class="legenda-campo">Ordenar por:</l>
                @Html.DropDownListFor(model => model.OpcaoCampoOrdenacao, null, new { @class = "form-control" })
            </div>
            <div class="campos-painel campos-painel-md">
                <l class="legenda-campo">Ordem:</l>
                @Html.DropDownListFor(model => model.OpcaoOrdenacao, null, new { @class = "form-control" })
            </div>
            <div class="campos-painel campos-painel-md">
                <l class="legenda-campo">Buscar por:</l>
                @Html.DropDownListFor(model => model.OpcoesFiltragem, null, new { @class = "form-control", onchange = "OpcaoBuscaMotorista(this.value)" })
            </div>
            <div class="campos-painel campos-painel-md" id="DataInicial" >
                <l class="legenda-campo">Data inicial:</l>
                @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control", type = "date"} })
            </div>
            <div id="DataFinal">
                <div class="campos-painel campos-painel-md" >
                    <l class="legenda-campo">Data final:</l>
                    @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                </div>
                <div class="campos-painel campos-painel-sm">
                    <br />
                    <button title="Buscar" id="btnBuscar" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <div class="campos-painel campos-painel-lg" id="CampoBusca">
                <l class="legenda-campo" id="BuscaNome">Buscar por nome:</l>
                <l class="legenda-campo" id="BuscaCPF">Buscar por CPF:</l>
                <l class="legenda-campo" id="BuscaCNH">Buscar por CNH:</l>
                <l class="legenda-campo" id="BuscaMunicipio">Buscar por município:</l>
                <div class="input-group">
                    @Html.EditorFor(model => model.BuscaMotorista, new { htmlAttributes = new { @class = "form-control", @id = "BuscaMotorista" } })
                    <span class="input-group-btn">
                        <button title="Buscar" id="btnBuscar" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="botao-novo alinhar-direita">
                <a title="Novo" id="btnNovo" class="btn btn-info" href="@Url.Action("IncluirMotorista", "Motorista")">
                    <span class="glyphicon glyphicon-plus"></span>
                    <strong>Novo</strong>
                </a>
            </div>
        </div>
        <div class="row row-inativos">
            <div class="campos-painel">
                @Html.EditorFor(model => model.Todos, new { htmlAttributes = new { } })
            </div>
            <div class="campos-painel">
                Exibir inativos
            </div>
        </div>
    </div>
}
<br />
<table class="table">
    <tr class="head-tabela">
        <th></th>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("CPF")
        </th>
        <th>
            @Html.DisplayName("CNH")
        </th>
        <th>
            @Html.DisplayName("Município")
        </th>
        <th>
            @Html.DisplayName("Data de inclusão")
        </th>
        <th>
            @Html.DisplayName("Data de alteração")
        </th>
        <th class="campo-centro">
            @Html.DisplayName("Veículos")
        </th>
        <th class="campo-centro">
            @Html.DisplayName("Status")
        </th>
    </tr>

    @foreach (var item in Model.Motoristas)
    {
        <tr title="Visualizar" class="linha-painel" onclick="location.href='@Url.Action("VisualizarMotorista", "Motorista", new { id = item.ID })'" ;">
            <td class="campo-centro">
                <a title="Editar" class="btn-editar" href='@Url.Action("EditarMotorista", "Motorista", new { id = item.ID })'>
                    <img src="~/Content/Img/editar.png" height="18" width="18" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeiroNome)
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNH.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Municipio.NomeMunicipio) -
                @Html.DisplayFor(modelItem => item.Endereco.Municipio.Estado.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td class="campo-centro">
                @Html.DisplayFor(modelItem => item.ContagemVeiculos)
            </td>
            <td class="campo-centro">
                @if (Html.ValueFor(modelItem => item.Status).ToString() == "True")
                {
                    <img src="~/Content/Img/status-verde.png" height="20" width="20" />
                }
                else
                {
                    <img src="~/Content/Img/status-vermelho.png" height="20" width="20" />
                }
            </td>
        </tr>
    }
</table>

<div>
    <div class="paginas display-inline-block">
        @Html.PagedListPager((IPagedList)Model.Motoristas, pagina => Url.Action("BuscarMotoristasPainel", new { Model.BuscaMotorista, Model.OpcoesFiltragem, Model.OpcaoOrdenacao, Model.OpcaoCampoOrdenacao, Model.Todos, Model.DataInicio, Model.DataFim, pagina }))
    </div>
    <div class="alinhar-direita">
        <div class="legenda-painel">
            Ativo <img src="~/Content/Img/status-verde.png" height="20" width="20" />
            &nbsp; &nbsp;
            Inativo <img src="~/Content/Img/status-vermelho.png" height="20" width="20" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#BuscaMotorista").inputmask({ casing: "upper" });

            OpcaoBuscaMotorista(document.getElementById("OpcoesFiltragem").value)
        });

        function OpcaoBuscaMotorista(opcaoBusca) {
            if (opcaoBusca == "1") {
                $("#CampoBusca").show();
                $("#BuscaNome").show();
                $("#BuscaCPF").hide();
                $("#BuscaCNH").hide();
                $("#BuscaMunicipio").hide();
                $("#DataInicial").hide()
                $("#DataFinal").hide()

                $("#BuscaMotorista").inputmask({ mask: "", regex: "[A-Za-z0-9-. ]+", casing: "upper", placeholder: " " });

                $("#BuscaMotorista").show();
            }
            if (opcaoBusca == "2") {
                $("#CampoBusca").show();
                $("#BuscaNome").hide();
                $("#BuscaCPF").show();
                $("#BuscaCNH").hide();
                $("#BuscaMunicipio").hide();
                $("#DataInicial").hide()
                $("#DataFinal").hide()

                $("#BuscaMotorista").inputmask({ mask: "", regex: "[A-Za-z0-9-. ]+", casing: "upper", placeholder: " " });

                $("#BuscaMotorista").show();
            }
            if (opcaoBusca == "3") {
                $("#CampoBusca").show();
                $("#BuscaNome").hide();
                $("#BuscaCPF").hide();
                $("#BuscaCNH").show();
                $("#BuscaMunicipio").hide();
                $("#DataInicial").hide()
                $("#DataFinal").hide()

                $("#BuscaMotorista").inputmask({ mask: "99999999999" });

                $("#BuscaMotorista").show();
            }
            if (opcaoBusca == "4") {
                $("#CampoBusca").show();
                $("#BuscaNome").hide();
                $("#BuscaCPF").hide();
                $("#BuscaCNH").hide();
                $("#BuscaMunicipio").show();
                $("#DataInicial").hide()
                $("#DataFinal").hide()

                $("#BuscaMotorista").inputmask({ mask: "", casing: "upper", placeholder: " " });

                $("#BuscaMotorista").show();
            }
            if (opcaoBusca == "5") {
                $("#CampoBusca").hide()
                $("#DataInicial").show()
                $("#DataFinal").show()
            }
            if (opcaoBusca == "6") {
                $("#CampoBusca").hide()
                $("#DataInicial").show()
                $("#DataFinal").show()
            }
        }
    </script>
}