@model GestaoDeFrotas.Front.ViewModels.MotoristaVM

@{
    ViewBag.Title = "VisualizarMotorista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-titulo">
    <h2 class="titulo-pag">Visualizar Motorista</h2>
</div>
<div class="container-menu">
    <div class="row" id="divDdadosRegistro">
        <div class="col-md-3">
            @Html.LabelFor(model => model.DataInclusao, htmlAttributes: new { @class = "control-label legenda-campo" })
            @Html.EditorFor(model => model.DataInclusao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.DataAlteracao, htmlAttributes: new { @class = "control-label legenda-campo" })
            @Html.EditorFor(model => model.DataAlteracao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label legenda-campo" })
            <div class="checkbox">
                @if (Model.Status == true)
                {
                    <span class="glyphicon glyphicon-ok"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove"></span>
                }
            </div>
        </div>
        <div class="col-md-3 campo-direita">
            &nbsp;
            <div>
                <a title="Editar" class="btn btn-info" href="@Url.Action("EditarMotorista", "Motorista", new { id = Model.ID} )">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <strong>Editar</strong>
                </a>
                <a title="Voltar" class="btn btn-danger" href="@Url.Action("PainelDeMotoristas", "Motorista")">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <strong>Voltar</strong>
                </a>
            </div>
        </div>
    </div>
    <br />
</div>
<br />
<div class="container-form">
    <div class="form-horizontal" id="divDadosMotorista">
        <div id="divDadosPessoais" class="container-bordertop">
            <h4>Dados pessoais</h4>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.PrimeiroNome, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.PrimeiroNome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.RG, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <br />
            <h4>Endereço</h4>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Endereco.Logradouro, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Logradouro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Endereco.Numero, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Endereco.Complemento, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Complemento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Endereco.Cep, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Cep, new { htmlAttributes = new { @class = "form-control", @id = "cep", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Endereco.Bairro, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.Label("Município", htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Municipio.NomeMunicipio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.Label("Estado", htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.Endereco.Municipio.Estado.NomeEstado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <br />
        <div id="divCNH" class="container-bordertop">
            <h4>CNH</h4>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CNH.Numero, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CNH.Numero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CNH.RENACH, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CNH.RENACH, new { htmlAttributes = new { @class = "form-control upper", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CNH.Espelho, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CNH.Espelho, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CNH.DataEmissao, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CNH.DataEmissao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CNH.DataValidade, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CNH.DataValidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CNH.Categoria.Categoria, htmlAttributes: new { @class = "control-label legenda-campo" })
                    @Html.EditorFor(model => model.CNH.Categoria.Categoria, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="divVeiculos" class="container-bordertop">
        <h4>Veículos</h4>
        <br />
        <table class="table">
            <tr class="head-tabela">
                <th>
                    @Html.DisplayName("Placa")
                </th>
                <th>
                    @Html.DisplayName("Marca")
                </th>
                <th>
                    @Html.DisplayName("Modelo")
                </th>
                <th>
                    @Html.DisplayName("Tipo")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ListaVeiculos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo.Descricao)
                    </td>
                    <td>
                        <a title="Visualizar" class="btn btn-info btn-xs" href="/Veiculo/VisualizarVeiculo/@item.ID"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
